<a href="https://colab.research.google.com/github/isabellyBS/PA_python/blob/main/%20%20%20%20Aula_PA/Atividade_11_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercícios, insira os valores abaixo em variáveis.

Nome: Isabelly B. Silva

Turma: manhã 1°C

###Exercícios com todos os conteúdos aplicados até o momento.

In [ ]:
# Exercício 1 inserir os seus dados acima em variáveis
#Exemplo
nome = "Márcio Barros"
Turma = "Manhã"
#continue.....


nome = "Isabelly B Silva"
turma= "manhã"
print('Inseridos')

Inseridos

In [ ]:
# Exercício 2 -Apos inserir dados acima usando o slicing (exemplo no notebook de manipulação de Strings), imprima na tela apenas seu sobrenome
nome[8:]

' B Silva'

In [ ]:
# Exercício 3 -  imprima seu nome de trás pra frente
nome[::-1]

'avliS B yllebasI'

In [ ]:
# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."
frase.split(',')

['Python é a linguagem ideal para o primeiro contato com programação',
 ' além da sua sintaxe simples e muito poderosa',
 ' Python tem diversas aplicações como: desenvolvimento web',
 ' análise de dados',
 ' inteligência artificial e automatização de tarefas',
 ' neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem',
 ' a comunidade Python é a que mais cresce',
 ' assim como sua demanda de profissionais no mercado.']

In [ ]:
# Exercício 5 -Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [ ]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela
lista=['garrafinha','monitor','teclado','mouse','gabinete']
lista

['garrafinha', 'monitor', 'teclado', 'mouse', 'gabinete']

In [ ]:
# Exercício 7 - Crie duas strings e concatene as duas em uma terceira string
stringum = "terceira"
stringdois = "string"
stringTres = stringum + stringdois
stringTres

'terceirastring'

In [ ]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla=(1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

In [ ]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela
dicionario={}
dicionario

{}

In [ ]:
# Exercício 10 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dicionario={
    'nome':'isa',
    'idade':'dois mil e vinte e cinco',
    'curso':'o melhor'
}
dicionario

{'nome': 'isa', 'idade': 'dois mil e vinte e cinco', 'curso': 'o melhor'}

In [ ]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dicionario['peso']='menos dez'
dicionario

{'nome': 'isa',
 'idade': 'dois mil e vinte e cinco',
 'curso': 'o melhor',
 'peso': 'menos dez'}

In [ ]:
# Exercício 12 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.

dicionario={
    'nome':'belly',
    'idade':2025,
    'curso':['TI' ,'Excel']
}

# Imprima o dicionário na tela.
dicionario

{'nome': 'belly', 'idade': 2025, 'curso': ['TI', 'Excel']}

In [1]:
# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.

lista=[
    "string",
    ("uma","tupla"),
    {
        'dicionário':'Compilação que contém as palavras',
        'PA':'Programação e Algoritimo'
    },
    49.90
]

# Imprima a lista na tela.
lista

['string',
 ('uma', 'tupla'),
 {'dicionário': 'Compilação que contém as palavras',
  'PA': 'Programação e Algoritimo'},
 49.9]

In [ ]:
# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais legal do século XXI'
frase[:18]

'Cientista de Dados'

###Exercícios de Manipulação de Strings

In [ ]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

11

In [ ]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = txt[0]
x

'H'

In [ ]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
x = txt[2:5]
x

'llo'

In [ ]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt =txt.upper()
txt

'HELLO WORLD'

In [ ]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count('de')

3

In [ ]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.split(',')

['Eu gosto de vijar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']

##Fim