<a href="https://colab.research.google.com/github/isabellyBS/PA_python/blob/main/Aula_PA/estudo(tem_uns_c%C3%B3digos_top)_23_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lista
#
#while
ele  so executa um código enquqanto ele for verdadeiro

In [54]:
##Achei dahora e taquei aqui para cima

#tabuada de número digitado pelo usuário
n = int(input("Digite um número: "))
for i in range(1,11):
  print(f"{n}x{i}={n*i}")
  #f fala tipo "quero a formatação desse jeito"

Digite um número: 7
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [1]:
#Criar um lista
chamada = ['apolo', 'beatriz', 'arthur', 'bruno', 'bernardo', 'iago', 'joão', 'bella', 'belly', 'vi', 'laura']

In [5]:
#Ta faltando gente, bote ai
print('quem está faltando?')
faltando=input('')
chamada.append(faltando)

print(chamada)

quem está faltando?
giovane
['apolo', 'beatriz', 'arthur', 'bruno', 'bernardo', 'iago', 'joão', 'bella', 'belly', 'vi', 'laura', 'henrique', 'josé', 'giovane']

In [6]:
from os import remove
print('tem nome repetido, qual nome é?')
repetiu = input('')
chamada.remove(repetiu)
print('Ficou assim')
chamada

tem nome repetido, qual nome é?
giovane
Ficou assim

['apolo',
 'beatriz',
 'arthur',
 'bruno',
 'bernardo',
 'iago',
 'joão',
 'bella',
 'belly',
 'vi',
 'laura',
 'henrique',
 'josé']

In [7]:
#retira o colocado 0
chamada.pop(0)

'apolo'

In [8]:
chamada

['beatriz',
 'arthur',
 'bruno',
 'bernardo',
 'iago',
 'joão',
 'bella',
 'belly',
 'vi',
 'laura',
 'henrique',
 'josé']

In [12]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for chamada in chamada:
  print (chamada)

beatriz
arthur
bruno
bernardo
iago
joão
bella
belly
vi
laura
henrique
josé

In [39]:
#procurar um nome
for chamada in "beatriz":
  print(chamada)

b
e
a
t
r
i
z

In [40]:
for chamada  in range(3) :
  print(chamada)

0
1
2

In [33]:
nu=float(input('número: '))

while nu < 6:
  print('seu num is six')
  nu += 1

número: 2
seu num is six
seu num is six
seu num is six
seu num is six

In [28]:
contador = 0
while contador < 5:
  print(contador)
  contador += 1

0
1
2
3
4

In [35]:
#contar de 1 ate 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [38]:
for chamada in range(0,6):
  print(chamada)

0
1
2
3
4
5

In [41]:
for i in range(11, 21):
  print(i)

11
12
13
14
15
16
17
18
19
20

In [45]:
#somar os 10 primeiros num
soma=0
for i in range(1,11):
  soma += i
print("soma:",soma)

soma: 55

In [53]:
#tabuada de número digitado pelo usuário
n = int(input("Digite um número: "))
for i in range(1,11):
  print(f"{n}x{i}={n*i}")

Digite um número: 5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [55]:
#nu pares de 0 a 20
for i in range(1,21):
  print(f"{i} é par, {i%2==0}")

1 é par, False
2 é par, True
3 é par, False
4 é par, True
5 é par, False
6 é par, True
7 é par, False
8 é par, True
9 é par, False
10 é par, True
11 é par, False
12 é par, True
13 é par, False
14 é par, True
15 é par, False
16 é par, True
17 é par, False
18 é par, True
19 é par, False
20 é par, True

In [60]:
#numeros pares de 0 a 20
for i in range(0,21):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [61]:
for i in range(0,21,2):
  # esse 2 depois do 21, , faz ele pular de 2 em 2
  print(i)

0
2
4
6
8
10
12
14
16
18
20

In [66]:
for i in range(0, 100, 75):
  print(i)

0
75

In [71]:
#contagem regressiva de 10 até 0
for i in range(10,-1,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [72]:
#somar números até que o usuário digite zero
soma = 0

num = int(input("Digite um número(0 para sair):"))
while num !=0:
  soma += num
  num = int(input("Digite um número(0 para sair):"))
print('Soma total:', soma)

Digite um número(0 para sair):7
Digite um número(0 para sair):5
Digite um número(0 para sair):9
Digite um número(0 para sair):0
Soma total: 21

In [1]:
#caixa, só pode tentar entrar até 3 vezes, se depois das 3 n der ele n pode mais entrar
tentativa = 0

print("para entrar na conta do banco, precisa preencher a senha")
senha = int(input('senha: '))
tentativa = tentativa + 1
while tentativa < 3:
  if senha != 1234:
    print('senha incorreta, tente novamente.')
    senha = int(input('senha: '))

    tentativa = tentativa + 1
  else:
    print('senha correta, vc conseguiu entrar.')
    tentativa = tentativa + 3
if senha != 1234:
  print('Você ultrapassou a quantidade de tentativas, conta bloqueada.')

para entrar na conta do banco, precisa preencher a senha
senha: 1234
senha correta, vc conseguiu entrar.